.page_container {
  margin-top: -14px;
  margin-bottom: 70px;
}
.footer {
  background: #212529;
  height: 250px;
}

.subscribe_box {
  padding-left: 29px;
  padding-top: 25px;
}

.contact-tab {
  width: 50%;
  height: 39px;
  padding-left: 39px;
}

.social_icon {
  width: 50px;
  float: left;
  color: white;
  font-size: 35px;
  padding: 46px;
  margin-top: 58px;
}
